/* Estils generals */
@font-face {
	font-family: 'Bariol Regular';
	src: url("#{resource['fonts/Bariol_Regular.ttf']}");
}
body {
	/*padding-top: 4.5rem;*/
	font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif !important;
	color: #333;
	background-color: #eaeaea;
}
#footer {
	font-size: 1.1em;
}
.ui-selectonemenu-label, .ui-selectonemenu-item {
	font-size: 1.1em;
}
.max-width{
	max-width: 100vw !important;
}

.ui-widget button {
	font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif !important;
}
.form-row {
	margin-bottom: 10px;
}
/*Botoneras multiboton*/
.botoneraRed.ui-selectonebutton {
	border-color: white;
}
.bordeRojoRequired {
	border: 1px solid #eed3d7 !important;
}
.botonRojoRequired {
	color: #ee2327 !important;
}
.botoneraRed.ui-selectonebutton .ui-button {
	background-color: #cc073c !important;
	color: black;
}

.botoneraRed.ui-selectonebutton .ui-button.ui-state-hover,
.botoneraRed.ui-selectonebutton .ui-state-hover {
	background-color: #cc073c !important;
}

.botoneraRed.ui-selectonebutton .ui-state-active {
	background-color: #cc073c !important;
	color: white !important;
	text-shadow: none;
}
/*Para p:selectManyButton multibotón y selección*/
.botoneraRed > .ui-button {
	transition: 0.5s;
}

.botoneraRed > .ui-button.ui-state-active {
	background-color: #cc073c !important;
	color: white !important;
}

.botoneraRed >.ui-button:hover {
	background-color: #cc073c !important;
	color: white !important;
	background-position-x: 0;
	background-position-y: 100px;
}

.ui-icon{
	/** Para aumentar el tamaño. **/
	font-size:1em;
}
label.ui-outputlabel.ui-state-error {
	font-weight: bold;
	background: none !important;
}
.iconoRojo {
	color: red !important;
}
.iconoVerde {
	color: #1eba12 !important;
}
.iconoAmarillo {
	color: #ff8000 !important;
}

.cabeceraIdiomas {
	padding: 5px;
}
a{
	color: #4dba79;
}
a:hover{
	color: #000;
	text-decoration: none;
}
.p-3aplicacio{
	padding: 3.5rem 1rem!important;
}
.verde{
	color: #4dba79;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.bg-white {
	background-color: #fff !important;
}
.colorVerd{
	background-color: #265d3c;
	margin-left: 5px;
}
.colorVerd:hover:enabled{
	background-color: #0000;
}
.colorGris{
	background-color: transparent;
	margin-left: 5px;
	color: #4dba79;
}
.colorGris:hover:enabled{
	background-color: #0000;
}
.desactivat{
	cursor: not-allowed !important;
}
.btn-primary.aplicacio-btn {
	background-color: #4dba79;
	border-color: #4dba79;
	border: none !important;
}
.btn-primary.aplicacio-btn:hover,
.btn-primary.aplicacio-btn:focus,
.btn-primary.aplicacio-btn:active{
	background-color: #000 !important;
	border: none #000 !important;
	outline: none !important;
	box-shadow: none !important;
}
.btn-danger.aplicacio-btn {
	background-color: #dc3545;
	border-color: #dc3545;
	border: none !important;
}
.btn-danger.aplicacio-btn:hover,
.btn-danger.aplicacio-btn:focus,
.btn-danger.aplicacio-btn:active{
	background-color: #000 !important;
	border: none #000 !important;
	outline: none !important;
	box-shadow: none !important;
}
/*
.contenido {
	font-size: 0.8rem ;
}*/
.lh15{
	line-height:1.5
}
.clickable-row{
	cursor: pointer;
}
.col-center{
	float: none;
	margin-left: auto;
	margin-right: auto;
}
/* FI Estils generals */

/* Motlla de pa */
.breadcrumb{
	padding-left: 45px;
	background-color: #ffffff;
	margin-bottom: 0px;
        width: 100%;
	border-bottom: 2px solid #EAEAEA;
}
.footer {
	background-color: #d9d9d9;
}
.miga{
	position: fixed;
	z-index: 20;
	width: 100%;
}
/* FI Motlla de pa */

/*
.ui-dialog .ui-dialog-titlebar {

	background: #DDF1D8 !important;
	padding: 10px;
	color: #4dba79;
}*/
.ui-dialog-titlebar-maximize {
	margin-top: 10px !important;
	margin-right: 5px !important;
}

.backgroundAdmContenido{
	background: #f39c12;
	border-color: #f39c12;
	color: #fff;

}
.backgroundGestor {
	background: #d2d6de;
	/*border-color: #d2d6de;*/
	margin: 5px 0 0 50px;
	color: #444;

}

.borderDerArribaAbajo{
	/*border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;*/
	border-radius: 0px 10px 10px 0px;
}
.borderIzqArribaAbajo{/*
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;*/
	border-radius: 10px 0px 0px 10px;
}
.borderArribaAbajo{
	/*border-top: 1px solid;
	border-bottom: 1px solid;*/
}

.ui-dialog-titlebar{
	background-color: #cc073c !important;
	color: #FFFFFF;
}
div.ui-dialog-content span.ui-confirm-dialog-severity{
	display:none;
}

.w100 { width: 100% !important;}
.w99 { width: 99% !important;}
.w98 { width: 98% !important;}
.w97 { width: 97% !important;}
.w96 { width: 96% !important;}
.w95 { width: 95% !important;}
.w90 { width: 90% !important;}
.w85 { width: 85% !important;}
.w80 { width: 80% !important;}
.w75 { width: 75% !important;}
.w70 { width: 70% !important;}
.w65 { width: 65% !important;}
.w60 { width: 60% !important;}
.w55 { width: 55% !important;}
.w50 { width: 50% !important;}
.w45 { width: 45% !important;}
.w40 { width: 40% !important;}
.w39 { width: 39% !important;}
.w38 { width: 38% !important;}
.w37 { width: 37% !important;}
.w36 { width: 36% !important;}
.w35 { width: 35% !important;}
.w30 { width: 30% !important;}
.w25 { width: 25% !important;}
.w20 { width: 20% !important;}
.w15 { width: 15% !important;}
.w10 { width: 10% !important;}
.w5 { width: 5% !important;}

.w300px {    width: 300px;}
.w295px {    width: 295px;}
.w290px {    width: 290px;}
.w285px {    width: 285px;}
.w280px {    width: 280px;}
.w275px {    width: 275px;}
.w270px {    width: 270px;}
.w265px {    width: 265px;}
.w260px {    width: 260px;}
.w255px {    width: 255px;}
.w250px {    width: 250px;}
.w245px {    width: 245px;}
.w240px {    width: 240px;}
.w235px {    width: 235px;}
.w230px {    width: 230px;}
.w225px {    width: 225px;}
.w220px {    width: 220px;}
.w215px {    width: 215px;}
.w210px {    width: 210px;}
.w205px {    width: 205px;}
.w200px {    width: 200px;}
.w195px {    width: 195px;}
.w190px {    width: 190px;}
.w185px {    width: 185px;}
.w180px {    width: 180px;}
.w175px {    width: 175px;}
.w170px {    width: 170px;}
.w165px {    width: 165px;}
.w160px {    width: 160px;}
.w155px {    width: 155px;}
.w150px {    width: 150px;}
.w145px {    width: 145px;}
.w140px {    width: 140px;}
.w135px {    width: 135px;}
.w130px {    width: 130px;}
.w125px {    width: 125px;}
.w120px {    width: 120px;}
.w115px {    width: 115px;}
.w110px {    width: 110px;}
.w105px {    width: 105px;}
.w100px { width: 100px;}
.w95px { width: 95px;}
.w90px { width: 90px;}
.w85px { width: 85px;}
.w80px { width: 80px;}
.w75px { width: 75px;}
.w70px { width: 70px;}
.w65px { width: 65px;}
.w60px { width: 60px;}
.w55px { width: 55px;}
.w50px { width: 50px;}
.w45px { width: 45px;}
.w40px { width: 40px;}
.w35px { width: 35px;}
.w30px { width: 30px;}
.w25px { width: 25px;}
.w20px { width: 20px;}
.w15px { width: 15px;}
.w10px { width: 10px;}
.w5px { width: 5px;}

.h100 { height: 100%;}
.h95 { height: 95%;}
.h90 { height: 90%;}
.h85 { height: 85%;}
.h80 { height: 80%;}
.h75 { height: 75%;}
.h70 { height: 70%;}
.h65 { height: 65%;}
.h60 { height: 60%;}
.h55 { height: 55%;}
.h50 { height: 50%;}
.h45 { height: 45%;}
.h40 { height: 40%;}
.h35 { height: 35%;}
.h30 { height: 30%;}
.h25 { height: 25%;}
.h20 { height: 20%;}
.h15 { height: 15%;}
.h10 { height: 10%;}
.h5 { height: 5%;}


.h100px { height: 100px;}
.h95px { height: 95px;}
.h90px { height: 90px;}
.h85px { height: 85px;}
.h80px { height: 80px;}
.h75px { height: 75px;}
.h70px { height: 70px;}
.h65px { height: 65px;}
.h60px { height: 60px;}
.h55px { height: 55px;}
.h50px { height: 50px;}
.h45px { height: 45px;}
.h40px { height: 40px;}
.h35px { height: 35px;}
.h30px { height: 30px;}
.h25px { height: 25px;}
.h20px { height: 20px;}
.h15px { height: 15px;}
.h10px { height: 10px;}
.h5px { height: 5px;}

.g-5{gap:5px;}
.g-10{gap:10px;}
.g-15{gap:15px;}
.g-20{gap:20px;}


/* APLICA QUAN WIDTH MENOR DE 992px */
@media only screen and (max-width: 992px) {
	.botoCurt{
		display: none;
	}
	.mobil{
		float: left !important;
	}
	.container {
		max-width: initial !important;
	}
}
/* FI*/

/* APLICA QUAN WIDTH MENOR DE 768px */
@media only screen and (max-width : 767px) {
	.colorVerd{
		background-color: #4DBA79 !important;
		margin-left: 0px !important;
	}
	.colorVerd:hover{
		background-color: #4DBA79 !important;
	}
	.mobil li a:hover{
		background-color: #4DBA79 !important;
	}
	.peuResponsive{
		display: list-item !important;
		list-style: none !important;
	}
	.elementPeuResponsive{
		max-width: 100% !important;
		text-align: center !important;
		justify-content: center !important;
	}
	.llevarMobil{
		display: none;
	}
	.botoCurt{
		display: inline;
	}
	.navbar-nav.mobil {
		width: 100%;
	}
	.dropdown-menu {
		float: none;
		padding: 0;
	}
	a.nav-link.mobil:hover {
		color: #000 !important;
	}
	a.dropdown-item.mobil:hover {
		color: #4dba79 !important;
		background-color: #FFF !important;
	}
	.p-3aplicacio{
		padding-bottom: 1rem !important;
	}
	/*
	.subtitolMay {
		font-size: 0.8rem !important;
	}*/
	.marg0 {
		border: 0px !important;
	}

	.form-row {
		height:auto !important;
	}

}
/* FI */

/* APLICA QUAN WIDTH MENOR DE 480px */
@media only screen and (min-width : 401px) and (max-width : 480px) {
	/*body {
		padding-top: 4rem !important;
	}*/
	.logoGovern {
		margin-right: 10px !important;
		margin-left: 10px !important;
	}
	.imatgeGovern{
		width: 45px !important;
	}
	.navbar-toggler {
		padding: 0.25rem !important;
		/*font-size: 1rem !important;*/
	}
	.desactivarMobil{
		display: none !important;
	}
	.peuResponsive{
		display: list-item !important;
	}
	.breadcrumb{
		padding: 1rem 1rem 0.5rem 1rem !important;
		border-radius: 0 !important;
	}
	.containerPeu{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
/* FI */

/* APLICA QUAN WIDTH MENOR DE 400px */
@media only screen and (min-width : 200px) and (max-width : 400px) {
	/*body {
		padding-top: 4rem !important;
	}*/
	.logoGovern {
		margin-right: 5px !important;
		margin-left: 5px !important;
	}
	.imatgeGovern{
		width: 40px !important;
	}
	/*
	.navbar-brand {
		font-size: 1rem !important;
	}*/
	.dadesSuport{
		padding-left: 30px !important;
		line-height: 1.5 !important;
	}
	.dadesSuport li{
		list-style: circle !important;
	}
	.navbar-nav.mobil {
		padding-left: 20px !important;
	}
	.navbar-toggler {
		padding: 0.25rem !important;
		/*font-size: 1rem !important;*/
	}
	.desactivarMobil{
		display: none !important;
	}
	.breadcrumb{
		padding: .35rem 0.6rem !important;
		border-radius: 0 !important;
	}
}
/* FI */

/* Boto Dropdown */
.dropdown:hover>.dropdown-menu {
	display: block;
}
.dropdown>.dropdown-toggle:active {
	pointer-events: none;
}
/* FI Boto Dropdown */

/* Capçalera */
.flechaSubmenu{
	/*font-size: 8px;*/
	padding-top: 5px !important;
}
.oi-caret-bottom:before {
	content: '\0000a0\e02d' !important;
}
.oi-globe:before {
	content: '\e06f\0000a0' !important;
}
.oi-power-standby:before {
	content: '\e0ab\0000a0' !important;
}
.oi-briefcase:before {
	content: '\e024\0000a0' !important;
}
.oi-cog:before {
    content: '\e041\0000a0' !important;
}
.bg-aplicacio{
	background-color: #4dba79 !important;
	padding-left: 0px;
	padding-right: 0px;
}
.menuGovern{
	min-width: 400px;
}

.titol{
	text-transform: uppercase;
	/*font-size: 1.2em !important;*/
	margin-bottom: 0px;
}
.subtitol{
	/*font-size: 0.85em !important;*/
}
.subtitolMay{
	/*font-size: 0.85em !important;*/
	text-transform: uppercase;
}
.menuGovern span, strong{
	/*font-size: 1em;*/
}
.logoGovern{
	float: left;
	margin-right: 40px;
	margin-left: 40px;
}
.imatgeGovern{
	width: 50px;
}
.iconoCapsalera{
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	height: 17px;
	margin-right: 3px;
}
.minW0{
	min-width: 0;
}
/* FI Capçalera */

/* Menú mòbil */
.botoMobil{
	position: absolute;
	right: 10px;
	top: 20px;
}
.mobil{
	margin-left: auto!important;
	padding-right: 20px;
	padding-top: 10px !important;
}
.navbar-nav.mobil{
	padding-top: 10px;
	padding-left: 40px;
}
.mobil li a:hover{
	color: #fff !important;
	background-color: #000;
}
.nav-link.mobil{
	color: #fff !important;
}
.marg0{
	margin: 0px;
	border: 1px solid #B9B9B9;
}
.icono{
	opacity: 0.5;
	padding-bottom: 4px;
}
a.dropdown-item{
	background-color: #fff;
}
a.dropdown-item.mobil:hover{
	color: #4dba79 !important;
	background-color: #fff;
}
/* FI Menú mòbil */

/* Suport */
.infoContacte{
	padding: 0em 1em 2em 1em;
	text-align: center;
}
.btn-suport{
	background-color: transparent;
	color: #4dba79;
	padding: 0px;
	cursor: pointer;
	margin-bottom: 2px;
}
.btn-suport:hover{
	color: #000;
}
.btn-suport.focus,.btn-suport:focus{
	box-shadow: 0 0 0 0px !important;
}
.dadesSuport{
	padding-left: 10%;
	line-height: 1.7;
	text-align: start;
}
.dadesSuport li{
	list-style: circle;
}
.dades a {
	color: #4dba79;
}
.dades a:hover,
.dades a:focus {
	color: #000;
	background-color: transparent;
	text-decoration: none;
}
/* FI Suport */

/* Peu */
.opcionsPeu li::before {
	content: "\0000a0\0000a0|\0000a0\0000a0";
}
.opcionsPeu li:first-child::before {
	content: "";
}
a.linkPeu:hover,
a.linkPeu:focus,
a.linkPeu:active {
	color: #4dba79 !important;
}
/* FI Peu */

/* Xarxes Socials */
a.iconoXarxes{
	-moz-transition: background-color .2s ease-out, border-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	-o-transition: background-color .2s ease-out, border-color .2s ease-out;
	-ms-transition: background-color .2s ease-out, border-color .2s ease-out;
	transition: background-color .2s ease-out, border-color .2s ease-out;

}
a.iconoXarxes{
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin-right: .2em;
	border: .2em solid #333;
	border-radius: 2em;
	will-change: border-color;

}
a.iconoXarxes{
	-moz-transition: background-color .2s ease-out, border-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	-o-transition: background-color .2s ease-out, border-color .2s ease-out;
	-ms-transition: background-color .2s ease-out, border-color .2s ease-out;
	transition: background-color .2s ease-out, border-color .2s ease-out;

}
a.iconoXarxes svg { transform: scale(.7, .7); }
a.iconoXarxes:hover,
a.iconoXarxes:focus,
a.iconoXarxes:active { background-color: #4dba79; border-color: #4dba79; }
a.iconoXarxes:hover path,
a.iconoXarxes:focus path,
a.iconoXarxes:active path { fill: #fff; }
a.iconoXarxes{
	-moz-transition: background-color .2s ease-out, border-color .2s ease-out;
	-webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
	-o-transition: background-color .2s ease-out, border-color .2s ease-out;
	-ms-transition: background-color .2s ease-out, border-color .2s ease-out;
	transition: background-color .2s ease-out, border-color .2s ease-out;
}
/* FI Xarxes Socials */


/* Capsa Box */
.box{
	padding:60px 0px;
}
.box-part{
	background:#EAEAEA;
	border-radius:0;
	padding:30px 10px;
	margin:20px 0px;
	border: thin outset;
	font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif;
	color: #333;
}
.box-part:hover{
	cursor: pointer;
	background: #b9b9b9;
}
.box-part:focus, .box-part:active, .box-part:visited{
	outline: none !important;
	box-shadow: none;
}
.text{
	margin:20px 0px;
}
.imatgeMenu{
	/*font-size: 200%;*/
	padding-bottom: 10px;
	color: #265d3c;
}
.iconaMenu{
	height: 45px;
	padding-bottom: 10px;
	filter: invert(78%) sepia(53%) saturate(428%) hue-rotate(91deg) brightness(96%) contrast(94%);
}
.titolMenu{
	font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif;
	color: #4dba79;
	/*font-size: 1.5em;*/
	display: flow-root;
}
/* FI Capsa Box */

/* Per paginació */
.page-link{
	color: #4dba79;
}
.page-item.active .page-link {
	background-color: #4dba79;
	border-color: #4dba79;
}
.page-link:focus, .page-link:hover {
	color: #000;
}

/* Específics per primefaces */

.ui-outputlabel {
	padding-top: 6px;
}
.ui-widget {
	font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif;
}
.ui-breadcrumb a {
	color: #4dba79;
}
.ui-breadcrumb a:hover {
	color: #000;
	text-decoration: none;
}

.panel-container .ui-panel	.ui-panel-titlebar {
	color: #d25b5b !important;
}

.titulo-tab {
	color: #d25b5b !important;
	text-shadow: none;
	font-weight: bold;
	border: 2px solid #d9cad6 !important;
}

.tab-container .ui-accordion .ui-accordion-header {
	padding: .5em .5em .5em 1em !important;
}

.tab-valor {
	border: 1px solid #d9cad6;
	background-color: #ffeef2;
	border-radius: 5px;
}

.left-container {
	background-color: #f2d8d8;
	border-radius: 5px;
}

.form-row {
	height: 50px;
}

.left-container-header {
	background-color: #cc073c;
	border-radius: 5px 5px 0px 0px;

}

.left-container-tit {
	font-weight: bold;
	color: #fff;
}

.noHeader.ui-datatable table thead tr {
	display: none;
}

.noHeader.ui-treetable table thead tr {
	display:none;
}

.btn-footer > span:first-child {
	left: 7%;
	width: 20px;
	height: auto;
	top: 47%;
}

.btn-footer > span:nth-last-of-type(1){
	width: 8rem;
}

/*CAmbios para el calendario*/
.fecha {
	display: inline-block;
	width: 100%
}
.fecha > input {
	width: 75% !important;
}

/*Clase para secciones de la izquierda*/
.panel{
	margin-top: .8em;
}

/*Clases para gestión de los logos*/
.logo-form {
	border: 0;
	padding: 0;
}

.logo-form > .ui-panel-content {
	padding: 0;
}

legend {
	/*font-size: .85rem;*/
}

.btn-busqueda{
	padding: .1rem .5rem;
}

.spinner-large{
	width: 3rem;
	height: 3rem;
}

.ui-blockui-content.ui-widget.ui-widget-content{
	background: transparent;
	border-color: transparent;
}

.panel-boib{
	min-height: 400px;
}

.panel-tree ul {
	overflow: hidden;
}
.ocultar {
	display:none;
}
.mt-1-1rem{
	margin-top: 1.1rem !important;
}

.mt-1-2rem{
	margin-top: 1.2rem !important;
}
.mt-1-3rem{
	margin-top: 1.3rem !important;
}
.ui-dialog-buttonpane > button{
	float: right;
}
.ui-confirm-dialog-message {
	/*font-size: 16px;*/
}

.importantOcultar {
	display: none !important;
}
.ui-outputlabel {
	font-size: 1.1em !important;
}
.ui-treetable-empty-message{
	font-size: 1.1em !important;
}
.ui-datatable-empty-message{
	font-size: 1.1em !important;
}
.cabeceraIdiomas .ui-selectonebutton {
	font-size: 1.1em !important;
}
.ui-column-title,.ui-paginator {
	font-size: 1.1em;
}
.labelGrande {
	font-size: 1.1em;
}